[submodule "client"]
	path = client
	url = https://github.com/parkernilson/ende-client.git
[submodule "server"]
	path = server
	url = https://github.com/parkernilson/ende-server.git
[submodule "reverse-proxy"]
	path = reverse-proxy
	url = https://github.com/parkernilson/ende-reverse-proxy.git
